  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
td {
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 36px !important;
    font-weight: bolder !important;
    border: 2px solid black !important;
    box-sizing: content-box;
}

.choose-tile {
    width: 50%;
    height: 50%;
    padding: 0;
    font-size: large !important;
    line-height: 1 !important;
}

.btn-text {
    display: none;
}

/* td {
  width: 100px; 
  height: 100px; 
  text-align: center; 
  vertical-align: middle;
  color:#f0f0f0;
}

button.square-button {
  width: 100%;
  height: 100%; 
  font-size: 24px;
}

button.square-button:hover {
  background-color: #f0f0f0; 
} */